* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'saira', arial, sans-serif;
}

header {
  position: relative;
  height: 100vh;
  background-color: #3D4757;
}

header .name {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  padding: 0 30px;
  text-align: center;
  letter-spacing: 1px;
  color: #D7FFB3;
  -webkit-animation: move 1.5s linear;
          animation: move 1.5s linear;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 1;
}

header .name h1 {
  font-size: 16px;
  font-weight: 700;
}

header .name h2 {
  font-size: 16px;
  padding-top: 5px;
  font-weight: 400;
}

header .name h3 {
  font-size: 12px;
  padding-top: 10px;
  font-weight: 400;
}

header .photo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 55%;
  background-color: #3D4757;
  overflow: hidden;
}

@media (min-width: 320px) {
  header .name {
    padding: 0 40px;
  }
  header .photo {
    height: 50%;
  }
  header .name h1 {
    font-size: 16px;
  }
  header .name h2 {
    font-size: 16px;
  }
  header .name h3 {
    font-size: 10px;
  }
}

@media (min-width: 360px) {
  header .photo {
    height: 55%;
  }
  header .name h1 {
    font-size: 17px;
  }
  header .name h2 {
    font-size: 17px;
  }
  header .name h3 {
    font-size: 11px;
  }
}

@media (min-width: 411px) {
  header .photo {
    height: 60%;
  }
  header .name h1 {
    font-size: 18px;
  }
  header .name h2 {
    font-size: 18px;
  }
  header .name h3 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  header .name {
    padding: 0 60px;
  }
  header .photo {
    height: 65%;
  }
  header .name h1 {
    font-size: 25px;
  }
  header .name h2 {
    font-size: 25px;
  }
  header .name h3 {
    font-size: 23px;
  }
}

@media (min-width: 1024px) {
  header .name h1 {
    font-size: 35px;
  }
  header .name h2 {
    font-size: 35px;
  }
  header .name h3 {
    font-size: 33px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  header .name {
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
    text-align: left;
  }
  header .photo {
    height: 90%;
  }
  header .name h1 {
    font-size: 14px;
  }
  header .name h2 {
    font-size: 14px;
  }
  header .name h3 {
    font-size: 10px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  header .name {
    width: 50%;
  }
  header .name h1 {
    font-size: 16px;
  }
  header .name h2 {
    font-size: 16px;
  }
  header .name h3 {
    font-size: 12px;
  }
}

@media (min-width: 714px) and (orientation: landscape) {
  header .name {
    top: 30%;
  }
  header .photo {
    height: 80%;
  }
  header .name h1 {
    font-size: 18px;
  }
  header .name h2 {
    font-size: 18px;
  }
  header .name h3 {
    font-size: 14px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  header .name {
    top: 35%;
  }
  header .name h1 {
    font-size: 20px;
  }
  header .name h2 {
    font-size: 20px;
  }
  header .name h3 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  header .name {
    top: 40%;
    left: 35%;
    width: 60%;
  }
  header .photo {
    height: 75%;
  }
  header .name h1 {
    font-size: 30px;
  }
  header .name h2 {
    font-size: 30px;
  }
  header .name h3 {
    font-size: 26px;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  header .name {
    top: 45%;
    left: 30%;
    width: 55%;
  }
  header .photo {
    height: 80%;
  }
  header .name h1 {
    font-size: 31px;
  }
  header .name h2 {
    font-size: 31px;
  }
  header .name h3 {
    font-size: 27px;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  header .photo {
    height: 85%;
  }
  header .name h1 {
    font-size: 35px;
  }
  header .name h2 {
    font-size: 35px;
  }
  header .name h3 {
    font-size: 31px;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  header .photo {
    height: 90%;
  }
  header .name h1 {
    font-size: 40px;
  }
  header .name h2 {
    font-size: 40px;
  }
  header .name h3 {
    font-size: 36px;
  }
}

@media (min-width: 1920px) and (orientation: landscape) {
  header .photo {
    height: 95%;
  }
  header .name h1 {
    font-size: 55px;
  }
  header .name h2 {
    font-size: 55px;
  }
  header .name h3 {
    font-size: 51px;
  }
}

@-webkit-keyframes move {
  0% {
    left: -50%;
  }
}

@keyframes move {
  0% {
    left: -50%;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
}

.offer .head {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  padding: 30px 10px;
  text-transform: uppercase;
  background-color: #1073ba;
  color: white;
}

.offer .technology h2 {
  padding-top: 20px;
}

.offer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.offer .flex h2 {
  font-size: 13px;
}

.offer .flex img {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 411px) {
  .offer .head {
    font-size: 18px;
  }
  .offer .flex h2 {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .offer .head {
    font-size: 30px;
  }
  .offer .flex h2 {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .offer .head {
    font-size: 40px;
  }
  .offer .flex h2 {
    font-size: 32px;
  }
}

@media (orientation: landscape) and (min-width: 533px) {
  .offer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer .head {
    font-size: 16px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .offer .flex {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 20px 30px;
  }
  .offer .flex h2 {
    font-size: 10px;
  }
  .offer .flex img {
    width: 100%;
  }
  .offer .technology h2 {
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .offer .head {
    font-size: 17px;
  }
  .offer .flex h2 {
    font-size: 11px;
  }
}

@media (orientation: landscape) and (min-width: 731px) {
  .offer .head {
    font-size: 19px;
  }
  .offer .flex h2 {
    font-size: 13px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .offer .head {
    font-size: 21px;
    padding: 50px 10px;
  }
  .offer .flex h2 {
    font-size: 15px;
  }
}

@media (orientation: landscape) and (min-width: 1366px) {
  .offer .head {
    font-size: 23px;
    padding: 60px 10px;
  }
  .offer .flex h2 {
    font-size: 17px;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  .offer .head {
    font-size: 25px;
  }
  .offer .flex h2 {
    font-size: 19px;
  }
}

@media (orientation: landscape) and (min-width: 1920px) {
  .offer .head {
    font-size: 30px;
  }
  .offer .flex h2 {
    font-size: 24px;
  }
}

.proud {
  max-width: 1366px;
  width: 100%;
  background-color: #e6a329;
  color: white;
  text-align: center;
  height: 15vh;
  margin: 0 auto;
  line-height: 15vh;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (min-width: 320px) {
  .proud {
    font-size: 16px;
  }
}

@media (min-width: 411px) {
  .proud {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .proud {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .proud {
    font-size: 40px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .proud {
    font-size: 16px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .proud {
    font-size: 17px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  .proud {
    font-size: 19px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .proud {
    font-size: 21px;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .proud {
    font-size: 23px;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .proud {
    font-size: 25px;
  }
}

@media (min-width: 1920px) and (orientation: landscape) {
  .proud {
    font-size: 30px;
  }
}
