.proud
    max-width: 1366px
    width: 100%
    background-color: rgb(230, 163, 41)
    color: white
    text-align: center
    height: 15vh
    margin: 20px auto
    line-height: 15vh
    font-weight: 700
    text-transform: uppercase

@media (min-width:320px)
    .proud
        font-size: 16px

@media (min-width:411px)
    .proud
        font-size: 18px

@media (min-width:768px)
    .proud
        font-size: 30px

@media (min-width:1024px)
    .proud
        font-size: 40px

@media (min-width:533px) and (orientation:landscape)
    .proud
        font-size: 16px

@media (min-width:640px) and (orientation:landscape)
    .proud
        font-size: 17px

@media (min-width:731px) and (orientation:landscape)
    .proud
        font-size: 19px

@media (min-width:1024px) and (orientation:landscape)
    .proud
        font-size: 21px

@media (min-width:1366px) and (orientation:landscape)
    .proud
        font-size: 23px

@media (min-width:1600px) and (orientation:landscape)
    .proud
        font-size: 25px

@media (min-width:1920px) and (orientation:landscape)
    .proud
        font-size: 30px
