.offer
    display: flex
    flex-direction: column
    max-width: 1366px
    margin: 0 auto

    .head
        width: 100%
        text-align: center
        margin-top: 30px
        font-size: 16px
        padding: 30px 10px
        text-transform: uppercase
        background-color: rgb(16, 115, 186)
        color: white

    .technology h2
        padding-top: 20px

    .flex
        display: flex
        flex-direction: column
        text-align: center

        h2
            font-size: 13px

        img
            width: 70%
            margin: 0 auto

@media (min-width:411px)
    .offer
        .head
            font-size: 18px
        .flex
            h2
                font-size: 15px

@media (min-width:768px)
    .offer
        .head
            font-size: 30px
        .flex
            h2
                font-size: 25px

@media (min-width:1024px)
    .offer
        .head
            font-size: 40px
        .flex
            h2
                font-size: 32px

@media (orientation: landscape) and (min-width:533px)
    .offer
        flex-direction: row
        flex-wrap: wrap
        .head
            font-size: 16px
            flex-basis: 100%

        .flex
            flex-basis: 15%
            flex-grow: 1
            padding: 20px 30px
            h2
                font-size: 11px
            img
                width: 100%

        .technology
            h2
                padding: 0

@media (orientation: landscape) and (min-width:640px)
    .offer
        .head
            font-size: 17px
        .flex
            h2
                font-size: 13px

@media (orientation: landscape) and (min-width:731px)
    .offer
        .head
            font-size: 19px
        .flex
            h2
                font-size: 15px

@media (orientation: landscape) and (min-width:1024px)
    .offer
        .head
            font-size: 21px
            padding: 50px 10px
        .flex
            h2
                font-size: 17px

@media (orientation: landscape) and (min-width:1366px)
    .offer
        .head
            font-size: 23px
            padding: 60px 10px
        .flex
            h2
                font-size: 19px

@media (orientation: landscape) and (min-width:1600px)
    .offer
        .head
            font-size: 25px
        .flex
            h2
                font-size: 21px

@media (orientation: landscape) and (min-width:1920px)
    .offer
        .head
            font-size: 30px
        .flex
            h2
                font-size: 24px
